
{% extends 'base.html' %}

{% block content %}
<button onclick="history.back()" class="btn btn-dark back_btn"> Back <i class="fa fa-arrow-left" aria-hidden="true"></i></button>

<form method="post" class="create_form">
    <h1>Create Phonebook</h1>
    {% csrf_token %}
    <label class="inp_lev" for="id_name">Name:</label>
    <input class="nam_inp" type="text" name="name" id="id_name" required> 
    <!-- {{form.as_p}} -->
    <input class="btn btn-success" type="submit" value="Create">
</form>
{% endblock %}

