
{% extends 'base.html' %}

{% block content %}
<button onclick="history.back()" class="btn btn-dark back_btn"> Back <i class="fa fa-arrow-left" aria-hidden="true"></i></button>

<h1>Phonebooks and Contacts</h1>
{% for phonebook in phonebooks %}
<h2>{{ phonebook.name }}</h2>
  <table border="2">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>Phone No.</th>
    </tr>
    {% for contact in phonebook.contacts.all %}
    <tr>
      <td>{{ contact.first_name }}</td>
      <td>{{ contact.last_name }} </td>
      <td>{{ contact.city }}</td>
      <td>{{ contact.phone_number }}</td>
    </tr>
    {% endfor %}
  </table>
{% endfor %}

{% endblock %}

